In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler #for normalisation

In [4]:
dataset = pd.read_csv('Churn_Modelling.csv')

In [5]:
dataset.head()
X = dataset.iloc[:,3:13].values
Y = dataset.iloc[:,13].values

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [6]:
Y.shape

(10000L,)

In [7]:
X.shape

(10000L, 10L)

In [8]:
print X

[[619L 'France' 'Female' ... 1L 1L 101348.88]
 [608L 'Spain' 'Female' ... 0L 1L 112542.58]
 [502L 'France' 'Female' ... 1L 0L 113931.57]
 ...
 [709L 'France' 'Female' ... 0L 1L 42085.58]
 [772L 'Germany' 'Male' ... 1L 0L 92888.52]
 [792L 'France' 'Female' ... 1L 0L 38190.78]]

In [9]:
# now we notice that our categories are not numerical but instead are in string type format
#we will need to encode the data

In [11]:
labelencoder_X_1 = LabelEncoder()
X[:,1] = labelencoder_X_1.fit_transform(X[:,1]) #encoding geography
labelencoder_X_2 = LabelEncoder()
X[:,2] = labelencoder_X_2.fit_transform(X[:,2]) #encoding gender
#countries are a lot so we need to hot encode it because else the problem of weight arises

In [12]:
print X

[[619L 0L 0L ... 1L 1L 101348.88]
 [608L 2L 0L ... 0L 1L 112542.58]
 [502L 0L 0L ... 1L 0L 113931.57]
 ...
 [709L 0L 0L ... 0L 1L 42085.58]
 [772L 1L 1L ... 1L 0L 92888.52]
 [792L 0L 0L ... 1L 0L 38190.78]]

In [13]:
onehotencoder = OneHotEncoder(categorical_features = [1]) #categorical feature 1 means selecting the 1st index that is of geography
X = onehotencoder.fit_transform(X).toarray()

In [14]:
X.shape

(10000L, 12L)

In [15]:
X = X[:,1:] #elimination of reundant column refer to 'hot encoding line 16'

In [16]:
X.shape

(10000L, 11L)

In [17]:
print X

[[0.0000000e+00 0.0000000e+00 6.1900000e+02 ... 1.0000000e+00
  1.0000000e+00 1.0134888e+05]
 [0.0000000e+00 1.0000000e+00 6.0800000e+02 ... 0.0000000e+00
  1.0000000e+00 1.1254258e+05]
 [0.0000000e+00 0.0000000e+00 5.0200000e+02 ... 1.0000000e+00
  0.0000000e+00 1.1393157e+05]
 ...
 [0.0000000e+00 0.0000000e+00 7.0900000e+02 ... 0.0000000e+00
  1.0000000e+00 4.2085580e+04]
 [1.0000000e+00 0.0000000e+00 7.7200000e+02 ... 1.0000000e+00
  0.0000000e+00 9.2888520e+04]
 [0.0000000e+00 0.0000000e+00 7.9200000e+02 ... 1.0000000e+00
  0.0000000e+00 3.8190780e+04]]

In [18]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size= 0.2, random_state = 42)

In [19]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)  #fit has been done once not needed again

In [20]:
import keras 
from keras.model import Sequential
from keras.layers import Dense

ImportError: No module named keras